@{
  Layout = "_Layout";
}
<div class="row">
  <div class="col-6">
    <div class="card stylist-cards">
      <div class="card-body">
        <div class="row  align-items-end">
          <div class="col-8">
            <h3 class="card-title">
              Barbra Streisand
            </h3>
          </div>
          <div class="col-4">
            <h4 class="card-title">Manager</h4>
          </div>
        </div>
        <hr class="no-margin-top">
        <div class="row">
          <div class="col-4">
            <p class="card-text"><strong>Speciality</strong><br>Buzzcuts</p>
          </div>
          <div class="col-8  text-right">
            <strong>Scheduled</strong>: 8:00AM - 5:30PM<br>
            Sun / Mon / Tues / Thurs / Fri
          </div>
        </div>
        <div class="row stylists-row-split">
          <div class="col-6">
            <strong>Hire Date</strong><br>Jan 5, 2020
          </div>
          <div class="col-6 text-right">
            <strong>Prior Experience</strong><br>5 years
          </div>
        </div>
      </div>
      <div class="card-header text-center bottom-of-stylist-cards"><a class="btn btn-light salon-button" href="stylists/1">Modify</a></div>
    </div>
  </div>
  <div class="col-6">
    <div class="card stylist-cards">
      <div class="card-body">
        <div class="row  align-items-end">
          <div class="col-8">
            <h3 class="card-title">
              Barbra Streisand
            </h3>
          </div>
          <div class="col-4">
            <h4 class="card-title">Manager</h4>
          </div>
        </div>
        <hr class="no-margin-top">
        <div class="row">
          <div class="col-4">
            <p class="card-text"><strong>Speciality</strong><br>Buzzcuts</p>
          </div>
          <div class="col-8  text-right">
            <strong>Scheduled</strong>: 8:00AM - 5:30PM<br>
            Sun / Mon / Tues / Thurs / Fri
          </div>
        </div>
        <div class="row stylists-row-split">
          <div class="col-6">
            <strong>Hire Date</strong><br>Jan 5, 2020
          </div>
          <div class="col-6 text-right">
            <strong>Prior Experience</strong><br>5 years
          </div>
        </div>
      </div>
      <div class="card-header text-center bottom-of-stylist-cards"><a class="btn btn-light salon-button" href="stylists/1">Modify</a></div>
    </div>
  </div>
</div>