@{
  Layout = "_Layout";
}
@using HairSalon.Models;
@model HairSalon.Models.HaircutType
<div class="px-5 py-5 bg-light">
  @using (Html.BeginForm())
  {
    <div class="form-group px-5">
      <div class="row">
        <div class="col">
          <label for="Name">Haircut Style Name</label>
          @Html.TextBoxFor(model => model.Name, new {@class = "form-control", required = "required"})
        </div>
        <div class="col">
          <label for="Name">Cost</label>
          @Html.TextBoxFor(model => model.Cost, new {@class = "form-control", required = "required", type="number"})
        </div>
        <div class="col">
          <label for="Name">Estimated Time in Minutes</label>
          @Html.TextBoxFor(model => model.TimeEstimate, new {@class = "form-control", required = "required", type="number"})
        </div>
      </div>
    </div>
    <div class="form-group px-5 mt-3">
      <input type="submit" value="Add new type" class="btn btn-light salon-button-small" />
    </div>
  }
</div>