.menus {
  background-color: #255868;
}

.salon-input:focus {
  border-color: #4facc9;
  box-shadow: 0 0 0 0.2rem hsl(194deg 48% 28% / 25%);
}
.salon-menu-item {
  margin-right: 15px;
}
.card-links {
  color: black;
  text-decoration: none;
}
.stylists-on-shift {
  margin-top: 1rem;
}

.schedule-day-of-week-label {
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #d9d9d9;
  font-size: 1.25rem;
  color: black;
  margin-right: 0.5em;
  margin-top: 0.5em;
}
.schedule-day-of-week-label:active + .btn-outline-primary,
.btn-check:checked + .btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active,
.schedule-day-of-week-label:hover,
.schedule-day-of-week-button:hover {
  color: #ffffff !important;
  background-color: #255868 !important;
  font-size: 1.25rem;
  border-color: #4caecd;
}

#schedule-days-of-week {
  margin-top: 15px;
}
.no-margin-top {
  margin-top: 0;
}

.stylists-row-split,
.stylist-info-form-field {
  margin-top: 15px;
}

.salon-button {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.25rem;
  color: #ffffff !important;
  background-color: #255868 !important;
  font-size: 1.25rem;
}
.salon-button:hover {
  background-color: #183a44 !important;
}
.stylist-cards {
  box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
  border-radius: 15px;
  margin-top: 30px;
}
.bottom-of-stylist-cards {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.nav-link {
  color: #000;
}
